{% extends "base.html" %}
{% block tab_content %} 
    <ul class="nav nav-tabs">
        <li class="active"><a href="#cars">Cars</a></li>
        <li><a href="#classes">Classes</a></li>
        <li><a href="#ozone">Ozone</a></li>
    </ul>
{% endblock %}

{% block sidebar_content %}
    <form action="{{ url_for("design") }}" method="post">
    <input type="hidden" name="relations" value="">
        <div class="btn-group-vertical">
            {% for relation, selected, importance in buttons %}
                {% if selected %}
                    <button type="button" class="btn btn-default btn-sm active down" data-toggle="button" id="button_{{ relation|replace(" ", "_") }}" name="{{ relation }}" importance={{ importance }}>
                        {{ relation }}
                    </button>
                {% else %}
                    <button type="button" class="btn btn-default btn-sm up" data-toggle="button" id="button_{{ relation|replace(" ", "_") }}" name="{{ relation }}" importance="-1">
                        {{ relation }}
                    </button>
                {% endif %}
            {% endfor %}
        </div>
    </form>
    <script>
        $(".btn").click(function(e) {
            var pushed = []
            if ($(this).hasClass("up")) {
                pushed = $("button.down").map(function () { return $(this) }).toArray();
                pushed = _.map(pushed, function(d) { return {"name": d.attr("name"), "importance": d.attr("importance")}; });
                var importance = pushed.length;
                $(this).attr("importance", importance);
                pushed.push({"name": $(this).attr("name"), "importance": importance});
            } else if ($(this).hasClass("down")) {
                var unclicked_name = $(this).attr("name");
                pushed = $("button.down").map(function () { return $(this) }).toArray();
                pushed = _.map(pushed, function(d) { return {"name": d.attr("name"), "importance": d.attr("importance")}; });
                pushed = _.reject(pushed, function(d) { return d.name == unclicked_name; });
                $(this).attr("importance", -1);
            }
            $(this).toggleClass("down");
            $(this).toggleClass("up");
            var form = $(this).closest("form");
            form.find("input[name=relations]").val(JSON.stringify(pushed));
            form.submit();
        });
    </script>
{% endblock %}

{% block body_content %}
    <svg id="presentation">
        <script> 
            render({{ design|tojson|safe }});
        </script>
    </svg>
{% endblock %}


