
body {
    font: 12px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.dot {
    fill: #BBB;
    stroke: #000;
}
.bar {
    fill: #BBB;
    stroke: #000;
}
